@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');






/* Utilities */
@import './utilities/global.css';
@import './utilities/root.css';
@import './utilities/utilities.css';
@import '/utilities/margins.css';
@import './utilities/paddings.css';


/* Layout */
@import './Layout/navbar.css';


/* Components */
@import './components/Avatar.css';
@import './components/Alert.css';
@import './components/buttons.css';
@import './components/badge.css';
@import './components/card.css';
@import './components/image.css';
@import './components/input.css';


/* body */

.main {
	grid-area: body;
}

#alert {
	scroll-margin-block: 6rem;
}

#buttons,
#avatar,
#badge,
#cards,
#image,
#input {
	scroll-margin-block: 3rem;
}
@media screen and (max-width:700px) {
	body {
		grid-template-areas:
			" navHead"
			" body"
			" body";
	}
}
