* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	display: grid;
	grid-template-areas:
		"navHead navHead navHead"
		"nav body body"
		"... body body";

}
