/* gutter */
.p-right {
	padding-right: 0.5rem;
}

.p-left {
	padding-left: 0.5rem;
}

.p1-left {
	padding-left: 1rem;
}

.p2-left {
	padding-left: 2rem;
}

.p1-right {
	padding-right: 1rem;
}

.p2-right {
	padding-right: 2rem;
}

.p1 {
	padding: 1rem;
}

.p2 {
	padding: 2rem;
}

.m1 {
	margin: 1rem;
}

.m2 {
	margin: 2rem;
}

.m2-top-bottom {
	margin: 2rem 0;
}

.m1-right {
	margin-right: 1rem;
}

.m2-left {
	margin-left: 2rem;
}

.m-left-auto {
	margin-left: auto;
}

.m-right-auto {
	margin-right: auto;
}
