:root {
	--primary-light-color: #00db379d;
	--primary-vlight-color: #56f17dc0;
	--primary-color: #009b27;
	--primary-dark-color: #004943;
	--primary-bg: rgb(255, 235, 123);

	--faint-gray: #f1f5f7;
	--light-gray: #e8f0f2;
	--medium-blue-gray: #b2d1c9;
	--dark-blue-gray: #92bdab;

	--text-white: #fff;
	--text-lighter: rgb(175, 175, 175);
	--text-light: #777;
	--text-dark: #333;

	--success-bg: #e8fcf1;
	--success-text: #005525;

	--info-bg: #e6f7ff;
	--info-text: #44abcb;

	--warning-bg: #fefbe6;
	--warning-text: hsl(40, 100%, 50%);

	--error-bg: #fef2f1;
	--error-text: #ff0000;

	--btn-hover: rgba(138, 138, 138, 0.2);
}
