:root {
	--primary-light-color: #00db379d;
	--primary-vlight-color: #56f17dc0;
	--primary-color: #009b27;
	--primary-dark-color: #004943;
	--primary-bg: rgb(255, 235, 123);

	--faint-gray: #f1f5f7;
	--light-gray: #e8f0f2;
	--medium-blue-gray: #b2d1c9;
	--dark-blue-gray: #92bdab;

	--text-white: #fff;
	--text-lighter: rgb(175, 175, 175);
	--text-light: rgb(97, 97, 97);
	--text-dark: rgb(0, 0, 0);

	--success-bg: #00ff73;
	--success-text: #ffffff;

	--info-bg: #00aeff;
	--info-text: #ffffff;

	--warning-bg: #ffdd00;
	--warning-text: hsl(0, 0%, 100%);

	--error-bg: #f81500;
	--error-text: #ffffff;

	--btn-hover: rgba(138, 138, 138, 0.2);
}
